body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: pink;
}

h1,
h2 {
	text-align: center;
}

.reviews {
	max-width: 800px;
	margin: 0 auto;
}

.review {
	border: 1px solid #ddd;
	padding: 10px;
	margin: 10px 0;
}

.review-form {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ddd;
}